@import '../../scss/variables';

@mixin button-colors {
	@each $name, $value in $theme-colors {
		&.btn-#{$name} {
			background-color: $value;
			color: #fff;

			&:hover,
			&:focus,
			&:active {
				background-color: darken($value, 10%);
			}
		}
	}
}

.btn {
	padding: 0.5rem 1.5rem;
	height: auto;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 16px;

	&.btn-block {
		width: 100%;
	}

	.btn-icon {
		margin-left: 0.8rem;
	}

	@include button-colors();
}
