.Searchbar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;

	.Searchbar-input-wrapper {
		flex-grow: 1;

		input {
			font-size: 15px;
			border: none;
			outline: none;
			box-sizing: border-box;
			padding: 0.5rem 1.2rem;
			width: 100%;
			background-color: #fff;
		}
	}

	.Searchbar-button-wrapper {
		padding-left: 0.5rem;
	}
}
